@import "../../styles/variables";

.menu {
  align-self: flex-start;
  padding: 0 5px;
  width: 100%;
  h6 {
    color: $font-color;
    font-size: 14px;
    font-weight: 500;
    margin: 0 0 20px 0;
  }

  .menulist {
    li {
      padding: 0 0 18px;
      position: relative;

      &::before {
        content: "";
        height: 50%;
        width: 3px;
        position: absolute;
        top: 0;
        left: -10%;
        background-image: linear-gradient(
          to right top,
          #528cfe,
          #6183ff,
          #7577ff,
          #8b6aff,
          #a258ff
        );
        opacity: 0;
        transition: 0.25;
      }
      p {
        font-size: 14px;
        margin: 0 0 0 0px;
        font-weight: 500;
        cursor: pointer;
        display: flex;
        align-items: center;
        color: $font-color;
        transition: 0.25s;

        svg {
          color: $font-color;
          margin: 0 18px 0 0;
          font-size: 20px;
          transition: 0.25s;

          &:last-child(1) {
            font-size: 16px;
          }
        }
      }

      &:hover {
         &:before{
          opacity: 1;
         }

        p {
          color: $secondary-color;

          svg {
            color: $secondary-color;
          }
        }
      }
    }
  }
}
