@import "../../styles/variables";
.sidebarWrapper{
   background: $bg-black;
   max-width: 80px;
   width: 100%;
   height: 100vh;
   display: flex;
   flex-flow: column;
   align-items: center;
   gap: 40px;
   padding: 10px 0;


   .sidebarIcons{
      color: $font-color;
      font-size: 25px;
      cursor: pointer;
      transition: 0.45s;

      &:hover{
         color: $secondary-color;
      }
   }

  
}

