@import "../../styles/variables";

.sidebar {
  background: $bg-black;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  padding: 20px ;
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
  align-items: flex-start;
  gap: 40px;
  position: relative;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    .icon {
      height: 35px;
      width: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: linear-gradient(
        to right top,
        #528cfe,
        #6183ff,
        #7577ff,
        #8b6aff,
        #a258ff
      );
      border-radius: 50%;

      svg {
        font-size: 28px;
        transform: rotate(16deg);
      }
    }
    p {
      font-size: 24px;
      margin: 0 0 0 5px;
      font-weight: 800;
      background: linear-gradient(
        to right top,
        #528cfe,
        #6183ff,
        #7577ff,
        #8b6aff,
        #a258ff
      );
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      letter-spacing: -1.5px;
    }
  }
  
}
