// Colors
$primary-color: #528cfe;
$secondary-color:  #a258ff;
$bg-black: #14191e;
$bg-black-shade: #24292e;
$white: #fff;
$border-color: #333333;
$font-color:#7f8b9c;


// font 
$primary-font: "Poppins";